@{
    ViewBag.Title = "index";
}
<a href="/home/Index">Index</a> | <a href="/home/Education">Education</a> | <a href="/home/Projects">Projects</a> | <a href="/home/Reference">Reference</a> | <a href="/home/Personal">Personal</a><br />
<p>Name:Md. Abu Hojifa</p>
<p>ID:21-45081-2</p>
<p>Email:abuhojaifa123@gmail.com</p>
<p>Github Profile:https://github.com/Hujaifa81</p>