
@{
    ViewBag.Title = "Personal";
}
<a href="/home/Index">Index</a> | <a href="/home/Education">Education</a> | <a href="/home/Projects">Projects</a> | <a href="/home/Reference">Reference</a> | <a href="/home/Personal">Personal</a><br />
<table>
    <tr>
        <td>Name</td>
        <td>:</td>
        <td>Md. Abu Hojifa</td>
    </tr>
    <tr>
        <td>Father's Name</td>
        <td>:</td>
        <td>Md. Anowar Hossain</td>
    </tr>
    <tr>
        <td>Mother's Name</td>
        <td>:</td>
        <td>Shahida Begum</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>:</td>
        <td>01111111111</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>:</td>
        <td>abuhojaifa123@gmail.com</td>
    </tr>
    <tr>
        <td>Maritial Status</td>
        <td>:</td>
        <td>Unmarried</td>
    </tr>
    <tr>
        <td>Religion</td>
        <td>:</td>
        <td>Islam</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>:</td>
        <td>Gazipur,Dhaka,Bangladesh</td>
    </tr>
    <tr>
        <td>Nationality</td>
        <td>:</td>
        <td>Bangladeshi</td>
    </tr>
</table>


