
@{
    ViewBag.Title = "projects";
}

<a href="/home/Index">Index</a> | <a href="/home/Education">Education</a> | <a href="/home/Projects">Projects</a> | <a href="/home/Reference">Reference</a> | <a href="/home/Personal">Personal</a><br />
<ul>
    <li>
        <h2>Web Technologies:Complaint Management System</h2>
        <p>
            The Complaint Management System is a web-based application designed to streamline the process of handling and resolving complaints.
            Users can submit their complaints through the system, providing details such as the nature of the complaint, date, and any supporting documents.
            The system facilitates efficient communication between users and administrators, assigning complaints to the relevant departments or personnel for resolution.
            Administrators can track the status of complaints, prioritize them, and update users on the progress of resolution.
        </p>
    </li>

    <li>
        <h2>Object Oriented Programming 2(OOP2):EdTech Management System</h2>
        <p>
            The EdTech Management System is a desktop application developed using C# to address the needs of educational institutions. This system encompasses features related
            to student management, course scheduling and resource allocation. It provides an interface for administrators, teachers, and students to interact with the educational ecosystem.
            Teachers can create and manage courses, and monitor student progress. Administrators can oversee the entire educational structure, manage faculty.
            Additionally, users can explore and purchase courses within the system. The EdTech Management System aims to streamline administrative tasks, enhance the overall efficiency of educational processes
            and provide a seamless course purchasing experience for users.
        </p>
    </li>

    <li>
        <h2>Object Oriented Programming 1(OOP1):Travel Agency Management System</h2>
        <p>
            The Travel Agency Management System is a comprehensive solution for managing various aspects of a travel agency's operations.
            It includes features for customer registration, booking management, and financial transactions.
            Users, both customers, and staff, can access the system to explore available travel packages, make reservations, and view travel details.
            The system automates booking processes, keeps track of available accommodations and transportation options, and generates itineraries for customers.
            Additionally, it may include modules for managing staff. The Travel Agency Management System is designed to enhance the efficiency of travel agency operations
            and improve customer satisfaction.
        </p>
    </li>
</ul>


