
@{
    ViewBag.Title = "Reference";
}

<h2>Reference</h2>
<a href="/home/Index">Index</a> | <a href="/home/Education">Education</a> | <a href="/home/Projects">Projects</a> | <a href="/home/Reference">Reference</a> | <a href="/home/Personal">Personal</a><br />
<ol>
    <li>https://phpgurukul.com/complaint-management-sytem/</li>
    <li>https://rashicode.com/school_management_system/</li>
    <li>https://www.studentprojects.live/shop/java/travel-tourism-management-system-project-in-java/</li> 
</ol>
